// Note! WordPress does some icky stuff with the editor stylesheet:
// 1. If a "body" selector exists, it will be replaced with ".editor-styles-wrapper".
// 2. All other selectors will have ".editor-styles-wrapper" prepended to them.
// More info:
// https://developer.wordpress.org/block-editor/developers/themes/theme-support/#editor-styles

@import "variables";
@import "mixins";
@import "fonts";

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/type";

body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-family-base;
    @include font-size($font-size-base);
    font-weight: $font-weight-base;
    line-height: $line-height-base;
}

.is-root-container {
    font-family: $font-family-serif;
}

.wp-block {
    max-width: map-get($container-max-widths, 'md') - $grid-gutter-width;
}

a {
    color: $link-color;
    text-decoration: $link-decoration;

    @include hover() {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

p {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
}

p.lead {
    @include font-size($lead-font-size);
    font-weight: $lead-font-weight;
}

.wp-block-separator.is-style-wide {
    margin-top: $hr-margin-y;
    margin-bottom: $hr-margin-y;
    border: 0;
    border-top: $hr-border-width solid $hr-border-color;
}

.wp-block-quote {
    border-left-color: $border-color;
    margin: 0;

    margin-bottom: $spacer;

    .editor-rich-text {
        @include font-size($blockquote-font-size);
    }
}

.wp-block-quote__citation {
    margin-top: 0;

    @include font-size($blockquote-small-font-size);
    color: $blockquote-small-color;

    &:before {
        content: "\2014\00A0"; // em dash, nbsp
    }
}

// List item spacing, to match the ones in _type.scss.
ul.rich-text {
    & > li + li,
    & > li > ul,
    & > li > ul > li + li {
        margin-top: 0.5em;
    }
}

.wp-block {
    .cf-block__fields {
        margin: 0;
        padding: 7px 0;
        background: rgba(139, 139, 150, .1); // match .wp-block-shortcode
    }

    .cf-field {
        padding: 7px 14px;

        .cf-select__input {
            max-width: none;
        }
    }

    .cf-radio__list {
        margin-bottom: 0;
    }
}
